/* *{
box-shadow: 0 0 1px red inset;
} */
body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      text-align: center;
      padding: 50px;
    }

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      color: #555;
    }

    img {
      max-width: 50vh;
      height: auto;
    }

/* styles.css */

/* Réinitialisation des marges pour le corps de la page */

  /* Styliser le contenu du footer */
  .footer {
    color: #fff; /* Couleur du texte du footer */
    padding: 20px;
    display: flex;
    background: #555;

  }
  
  /* Styliser les bulles */
  .bubbles {
    width: 33%;
    height: 10vh; /* Hauteur du conteneur de bulles */
    display: flex;
    justify-content: space-between;

  }
  
  .bubble {
    width:15px;
    height: 15px;
    background-color: #ED5565; /* Couleur de fond de la bulle */
    border-radius: 50%;
    animation: bubble-float 5s ease-in-out infinite; /*  Animation de flottement */
    margin: 5px; /* Espacement entre les bulles */
  }
  
  /* Animation pour le flottement des bulles */
  @keyframes bubble-float {
    0%, 100% {
      transform: translateY(80); /* Position initiale */
    }
    50% {
      transform: translateY(80px); /* Position haute pendant l'animation */
    }
  }
  