/* *{
box-shadow: 0 0 1px red inset;
} */

body, html {
  height: 100%;
}

body {
      background-image: url('./img/aHelpingHand.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #f0f0f0;
      text-align: center;
      padding: 50px;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      color: #555;
    }

    img {
      max-width: 50vh;
      height: auto;
    }

/* styles.css */


  
  /* Styliser le contenu du footer */
  .footer {
    color: #fff; /* Couleur du texte du footer */
    display: flex;
    background: #555;
    display: flex;
    justify-content: center;

  }
  
  /* Styliser les bulles */
  .bubbles {
    width: 100vh;
    height: 10vh; /* Hauteur du conteneur de bulles */
    display: flex;
    justify-content: space-around;
    justify-items: center;

  }
  
  .bubble {
    width:15px;
    height: 15px;
    background-color: #ED5565; /* Couleur de fond de la bulle */
    border-radius: 50%;
    animation: bubble-float 4s ease-in-out infinite; /*  Animation de flottement */
  
  }
  
  /* Animation pour le flottement des bulles */
  @keyframes bubble-float {
    0%, 100% {
      transform: translateY(80); /* Position initiale */
    }
    50% {
      transform: translateY(8vh); /* Position haute pendant l'animation */
    }
  }
  